@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

/* Desktop styles */
* {
    font-family: 'Droid Sans', sans-serif;
}

body {
    background-color: #E74C3C;
    color: #191919;
}

a:link, a:visited, a:hover, a:active {
    color: #191919;
}

h1 {
    font-size: 80px;
}

#city-selection {
    margin: auto;
    margin-top: 10%; 
    text-align: center;
}

#form-container {
    background-color: #DDDDDD;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
    border-radius: 6px;
}

#loading-text {
    margin-top: 15%;
    text-align: center;
    display: none;
}

.hide-it {
    display: none;
}

#streetview-container {
    margin-top: 8%;
    width: 60%;
    margin: auto;
    text-align: center;
}

#streetview-container img {
    max-height: 330px;
    max-width: 100%;
}

#greeting {
    margin-top: 10%;
    text-align: center;
}

#wiki-section {
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
}

#wikipedia-header {
    background-color: #DDDDDD;
    border-radius: 6px;
}

#wikipedia-links li {
    list-style: none;
    margin-bottom: 1%;
}

#nytimes-section {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 8%;
}

#nytimes-header {
    background-color: #DDDDDD;
    border-radius: 6px;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding: 10px;
    border-top: 3px solid #95A5A6;
}
.article:first-child {
    border-top:none;
}

@media only screen and (max-width: 750px) {

h1 {
    font-size: 30px;
}

#app-name {
    font-size: 55px;
}

#city-selection {
    margin-top: 20%; 
}

#form-container {
    width: 80%;
}

#loading-text {
    margin-top: 25%;
}

#streetview-container {
    width: 90%;
}

#wiki-section {
    width: 80%;
}

#nytimes-section {
    width: 90%;
}
}
