@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

/* Desktop styles */
* {
    font-family: 'Droid Sans', sans-serif;
}

body {
    background-color: #111111;
    color: #F5F5F5;
}

a:link, a:visited, a:hover, a:active {
    color: #F5F5F5;
}

#app-name {
    font-size: 80px;
}

#city-selection {
    margin: auto;
    padding-top: 10%; 
    text-align: center;
}

#form-container {
    width: 40%;
    margin: auto;
    margin-top: 3%;
    padding: 5%;
}

#loading-text {
    padding-top: 15%;
    text-align: center;
    display: none;
}

.hide-it {
    display: none;
}

#streetview-container {
    margin-top: 8%;
    width: 60%;
    margin: auto;
    text-align: center;
}

#streetview-container img {
    max-height: 330px;
    max-width: 100%;
}

#greeting {
    margin-top: 10%;
    text-align: center;
}

#wiki-section {
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
}

#wikipedia-links li {
    list-style: none;
    margin-bottom: 1%;
}

#nytimes-section {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 8%;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding: 10px;
    border-top: 3px solid #39CCCC;
}

.article:first-child {
    border-top:none;
}

#submit-btn {
    border-radius: 6px;
    border: none;
    background-color: #39CCCC;
    padding: 1%;
    color: #F5F5F5;
}

input {
    border-radius: 6px;
    border: none;
}

@media only screen and (max-width: 750px) {

#app-name {
    font-size: 55px;
}

#city-selection {
    margin-top: 20%; 
}

#form-container {
    width: 80%;
}

#loading-text {
    margin-top: 25%;
}

#streetview-container {
    width: 90%;
}

#wiki-section {
    width: 80%;
}

#nytimes-section {
    width: 90%;
}
}
